.hero{
    padding-bottom: 200px;
}

.btn-hero{
    font-family: var(--fonte-ui);
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    background-color: transparent;
    color: var(--cor-texto);
    cursor: pointer;
    border-width: 1px;
    border-color: var(--cor-texto);
    border-radius: 18px;
    width: 270px;
    height: 60px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out
}
.btn-hero:hover{
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
}

@media (max-width: 767px) {
    .hero {
        grid-template-columns: 1fr;
        padding: 40px 20px;
        gap: 24px;
    }
    .hero h1 {
        font-size: 22px;
        padding-bottom: 37px;
    }
    .hero p {
        font-size: 14px;
        padding-bottom: 26px;
    }
    .btn-hero {
        font-size: 12px;
        padding: 5px;
        width: 135px;
        height: 30px;
    }
}